<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
    <xi:include href="default.html" />
    <head>
        <title>Home</title>
        <script src="${url('/media/script/create_project.js')}"></script>
    </head>
    <body class="index">
        <form action="${project and 'create' or 'update'}" method="post">
            <div class="section">${project and 'Create New' or 'Update'} Project</div>
            <br />
            <div class="sub-section">Project Details</div>
            <div class="sub-section-content">
              <p>
                <label for="name">name</label>
                <input type="text" name="name" id="name" value="${project and project.name or ''}" class="text-field rounded" />
              </p>
            </div>
            <br />
            <div class="sub-section">Build Details</div>
            <div class="sub-section-content">
              <p>
                <label for="scm_repository">git repository</label>
                <input type="text" name="scm_repository" value="${project and project.scm_repository or ''}" id="scm_repository" class="text-field rounded" />
              </p>
              <p>
                <label for="build_script">build script</label>
                <input type="text" name="build_script" value="${project and project.build_script or ''}" id="build_script" class="text-field rounded" />
              </p>
            </div>
            <br />
            <div class="toolbar">
                <button class="big-button" id="submit">
                    <img src="${url('/media/images/accept.png')}" align="absMiddle" />
                    create
                </button>
                <button class="big-button" id="cancel">
                    <img src="${url('/media/images/cancel.png')}" align="absMiddle" />
                    cancel
                </button>
            </div>
        </form>
    </body>
</html>
