<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">
    <py:match path="head" once="true">
        <head py:attrs="select('@*')">
            <title py:with="title = list(select('title/text()'))">
                Skink<py:if test="title"> - ${title}</py:if>
            </title>
            <link rel="stylesheet" href="${url('/media/green/css/style.css')}" type="text/css" media="screen" title="default css" charset="utf-8" />
            <script src="${url('/media/green/script/lib/jquery-1.3.2.min.js')}"></script>
            <script src="${url('/media/green/script/common.js')}"></script>
          ${select('*[local-name()!="title"]')}
        </head>
    </py:match>
  <py:match path="body" once="true">
    <body py:attrs="select('@*')">
      <div id="wrap">

        <div id="top">
          <div id="top-links">
            <div class="big-button">
              <a class="big-link" href="/project/new">Add a project</a>
            </div>
          </div>
        </div>

        <div id="content">

          <div class="breadcrumbs">
            <a href="/">projects</a> /
            ${select("//span[contains(@class,'breadcrumb')]/*")}
          </div>

          <div class="middle">
            ${select('*|text()')}
          </div>

          <div id="clear"></div>
        </div>
        <div id="bottom"></div>
      </div>

    <div id="footer">
      Skink CI v0.1.0 - <a href="http://www.skinkci.org" target="_blank">http://www.skinkci.org</a>
    </div>

    </body>
  </py:match>
</html>
