<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
    <xi:include href="default.html" />
    <?python from genshi import HTML ?>
    <head>
        <title>Home</title>
        <script src="${url('/media/green/script/project_details.js')}"></script>
    </head>
    <body class="index">
        <span class="breadcrumb" style="display:none;">
            <a href="${url('/project/' + str(project.id))}">${project.name}</a>
        </span>
        <div class="section">${project.name}</div>
        <div class="sub-section">status: ${project.get_status()}</div>
        <div class="sub-section-content">
            <p>last successful build: ${project.get_last_successful_build()}</p>
            <p>git repository: <strong>${project.scm_repository}</strong></p>
            <p>build script: <strong>${project.build_script}</strong></p>
        </div>
        <div class="sub-section">last 10 builds</div>
        <div class="sub-section-content">
          <py:if test="not project.builds">
            <div class="build-list" py-if="not project.builds">
               No builds so far.
            </div>
          </py:if>
          <p py:for="build in project.builds">
              <a href="/project/${project.id}/builds/${build.id}">${build.date.strftime("%m/%d/%Y %H:%M:%S")} - Build # ${build.number}</a>
          </p>
        </div>
        <div class="sub-section">last build</div>
        <div class="sub-section-content" py:if="project.builds">
           <div py:with="build = current_build">
               <p>Build summary for Build # ${build.number}</p>
               <p>Finished at ${build.date.strftime("%m/%d/%Y %H:%M:%S")}</p>
               <p>Status:</p>
               <p><span class="${build.status.lower()}">${build.status}</span></p>
               <p># ${build.commit_number}</p>
               <p>By ${build.commit_committer}</p>
               <p><i>${HTML(build.html_commit_text())}</i></p>
               <h2>Build log</h2>
               <div id="build-log">
                  <code>${build.log}</code>
               </div>
           </div>
        </div>
        <div class="sub-section">
            <button class="big-button red-bg" id="build-project" rel="/project/${project.id}/build">
                build
            </button>
            <button class="big-button blue-bg" id="delete-project" rel="/project/${project.id}/delete">
                cancel
            </button>
        </div>
        <div align="center">

        </div>
    </body>
</html>
