.header {
	background-color:#2c2c2c;
	height:40px;
	margin-bottom:45px;
}

ul#navigation {
	float:left;
	height:28px;
	margin-top:11px;
	width:250px;
}

ul#navigation li.one, ul#navigation li.two {
	display:inline;
	float:left;
	margin-right:30px;
}

ul#navigation li.one a, ul#navigation li.two a {
	color:#fff;
	display:block;
	font-family:arial, sans-serif;
	font-size:16px;
	font-weight:bold;
	height:31px;
	text-decoration:none;
}

ul#navigation li.one a:hover, ul#navigation li.one a.active, ul#navigation li.two a:hover, ul#navigation li.two a.active {
	background:transparent url(../img/arrow-menu.png) center 25px no-repeat;
}

.login {
	float:right;
	margin:0;
	padding:0;
	margin-top:8px;
	height:23px;
}

.login a {
	color:#ccc;
	text-decoration:none;		
}

.login .username {
	font-size: 18px;		
}

.login a:hover {
	text-decoration:underline;		
}

.text_login {
	color:#ccc;
	float:left;
	font-family:arial, sans-serif;
	font-size:11px;
	font-weight:bold;
	margin-right:6px;
	margin-top:4px;
}

.textarea_login {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:transparent url('../img/bg_form.png') repeat-x;
	border:solid 0px #191919;
	color:#ccc;
	float:left;
	font-size:11px;
	font-family:arial, sans-serif;
	padding:4px 0 0 5px;
	margin-right:4px;
	width:134px;
	height:19px;
}

.button {
	background: url('../img/button.png') no-repeat 0 0;
	border:0;
	height:28px;
	margin-left:6px;
	width:27px;
}

.button:active {
	background: url('../img/button.png') no-repeat scroll -56px 0;
}

.button:hover {
	background: url('../img/button.png') no-repeat scroll -28px 0;
}
