<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
   <script src="/media/common/js/lib/jquery-min.js"></script>
   <script src="/media/common/js/lib/jquery-ui.min.js"></script>
   <script src="/media/globocom/js/full.js"></script>
   <link rel="stylesheet" type="text/css" href="/media/globocom/css/full.css" />

   <title>Skink</title>
  </head>
  <body>
      <div id="projectname"></div>
      <div id="build">
          <div id="committer"><img id="gravatar" src=""></div>
          <div id="commitlog"><span id="author"></span><hr><span id="log"></span></div>
      </div>
  </body>
</html>


