{% extends "base.html" %}

{% block title %}Invalid Authentication{% endblock %}

{% block content %}
                <div class="container_12">
                    <div class="grid_12">
                        <h1 class="failed_auth">Authentication Failed</h1>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <h3>Please provide proper authentication information.</h3>
                    </div>
                </div>
{% endblock %}
