{% extends "index.html" %}

{% block title %}Two Columns projects view{% endblock %}

{% block extrahead %}
        {{ super() }}

        <style>
            .email{height:15px; width:50px; margin-top:3px;}
            .project {background: url(/media/globocom/img/bg_two_columns.jpg) repeat-x;float:left;height:89px;margin:0 5px 10px 5px;width:420px;padding-top:2px;}
            .title { font-size:24px; margin:6px 0 0 0; width:370px;}
            .photo_project {margin:-10px 4px 0 0;}
            .icon {float:left; height:30px; margin-right:10px; margin-top:14px; width:30px;}
            .comments {width:300px;}
            .comments_detail, .comments {margin-top:-10px;}
            .Successful .icon {background: url(/media/globocom/img/successful-small.png) no-repeat scroll 0 0;}
            .Building .icon {background: url(/media/globocom/img/refresh-small.gif) no-repeat scroll -2px -4px;}
            .Failed .icon {background: url(/media/globocom/img/failed-small.png) no-repeat scroll 0 0;}        
        </style>

        <script>
            $(document).ready(function() {
                $('#onecolumn').removeClass("active");
                $('#twocolumns').addClass('active');
                $('#threecolumns').removeClass("active");
            });
        </script>
{% endblock %}