<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
    <xi:include href="default.html" />
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/media/integrity/css/dashboard.css" type="text/css" />
        <script type="text/javascript" language="javascript" src="/media/common/script/dashboard.js"></script>
    </head>
    <body>
        <div class="dashboard_content">
            <div class="project" id="project_${project.id}" py:for="project in projects">
                <div class="project_header">
					<h2><a class="project_name" href="/project/${project.id}">${project.name}</a></h2>
                    <ul class="project_actions">
                        <li><img src="/media/integrity/images/control_pause.png" alt="Stop monitoring this project" border="0" id="stop_monitoring_${project.id}" class="img_stop_monitoring" /></li>
                        <li><img src="/media/integrity/images/control_stop.png" alt="Stop current build" border="0" id="stop_current_build_${project.id}" class="img_stop_current_build" /></li>
                        <li><img src="/media/integrity/images/information.png" alt="Check the current build log" border="0" id="more_info_${project.id}" class="img_more_info" /></li>
                    </ul>
                </div>
                <div class="project_log">
                    <div py:if="project.builds">
                        <div class="project_built">
                            <p class="last_build_commit_hash" py:if="project.builds[0].commit_number">${project.builds[0].commit_number[:7]}</p>
                            <p class="last_build_commit_author" py:if="project.builds[0].commit_author">${project.builds[0].commit_author_name()}</p>
                            <p class="last_build_commit_text" py:if="project.builds[0].commit_text">${project.builds[0].commit_text}</p>
                        </div>
                        <div class="project_building">
                            <img src="/media/integrity/images/ajax-loader.gif" alt="Currently building..." border="0" id="currently_building_${project.id}" class="img_currently_building" />
                        </div>
                    </div>
                    <div py:if="not project.builds">
                        <p class="project_never_built">Never built!</p>
                    </div>
                    <div class="start_build">
                        <a href="/project/${project.id}/build" class="build_project">build</a>
                    </div>
                </div>
            </div><!-- end project -->
			
		</div>
<br /><br />
        <p id="new" py:if="projects">
            <a class="integrity_link" href="/project/new">Add a new project</a>
        </p>

        <div id="projects" py:if="not projects">
            Looks like you don't have any projects!<br />
            How about <a class="integrity_link" href="/project/new">creating one now</a>?
        </div>

        <div id="more_info_dialog" title="More Info" style="display:none;">
            <p class="more_info_text">Please notice that these are only the last 30 lines from the command log.</p>
            <pre id="more_info_current_log" class="log"></pre>
        </div>

        <div id="not_authenticated_dialog" title="You need to be authenticated" style="display:none;">
            <p class="not_authenticated_text">You need to be authenticated before executing this commmand.</p>
            <br />
            <p class="not_authenticated_text"><a class="integrity_link" href="/login">Log In</a>
                    if you have a user.</p>
        </div>

    </body>
</html>
