<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">
    <py:match path="head" once="true">
        <head py:attrs="select('@*')">
            <title py:with="title = list(select('title/text()'))">
                Skink<py:if test="title"> - ${title}</py:if>
            </title>
            <link rel="stylesheet" href="${url('/media/integrity/css/integrity.css')}" type="text/css" />
            <link rel="stylesheet" href="${url('/media/integrity/css/buttons.css')}" type="text/css" />
            <link rel="stylesheet" href="${url('/media/integrity/css/reset.css')}" type="text/css" />
            <link rel="stylesheet" href="${url('/media/common/script/lib/css/smoothness/jquery-ui-1.7.1.custom.css')}" type="text/css" />
            <script src="${url('/media/common/script/lib/jquery-min.js')}"></script>
            <script src="${url('/media/common/script/lib/jquery-ui.min.js')}"></script>
            <script src="${url('/media/common/script/lib/jquery.timers-1.1.2.js')}"></script>
          ${select('*[local-name()!="title"]')}
        </head>
    </py:match>

    <py:match path="body" once="true">
        <body py:attrs="select('@*')">
            <div id="header">
                <span class="breadcrumb">
                    <h1>
                    <a class="integrity_link" href="/">projects</a> 
                    ${select("//span[contains(@class,'breadcrumb')]/text()")}
                    ${select("//span[contains(@class,'breadcrumb')]/*")}
                    |
                    <a class="integrity_link" href="/pipeline">pipelines</a>
                    </h1>
                </span>
                <address class="watermark">
                    built with
                    <a class="integrity_link" href="http://skinkci.org/" title="Skinkize your project now!">skink ci</a>
                </address>
            </div>
            <div id="content">
              ${select('*|text()')}
            </div>

            <div id="footer">
              Hey there!
              <a class="integrity_link" href="http://builder.integrityapp.com/login">Log In</a>
              if you have a user
              <br /><br />
              Template based on the <a class="integrity_link" href="http://integrityapp.com/" target="_blank">Integrity App</a> default template.
            </div>
        </body>
    </py:match>

</html>
