<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
    <xi:include href="default.html" />
    <head>
        <title>Login</title>
    </head>
    <body>
        <h2 py:if="errors">
            <label class="with_errors" py:for="error in errors">
                $error<br />
            </label>
        </h2>
        <form action="/login" method="POST">
            <p class='required'>
                <label for='username'>Username</label>
                <input class='text' name="username" id="username" type='text' />
            </p>

            <p class='required'>
                <label for='password'>Password</label>
                <input class='text' name="password" id="password" type='password' />
            </p>
            
            <p class='submit'>
                <button class='positive' type='submit'>Login</button>
            </p>
        </form>
    </body>
</html>
