<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
    <xi:include href="default.html" />
    <?python from genshi import HTML ?>
    <head>
        <title>Home</title>
        <script type="text/javascript" language="javascript" src="/media/integrity/script/project_details.js"></script>
        <script src="/media/common/script/project_status.js"></script>
    </head>
    <body>
        <span class="breadcrumb" style="display:none;">
            / <a class="integrity_link" href="/project/${project.id}">${project.name}</a>
        </span>
        <div id='administrative'>
            <a class="integrity_link" href='/project/${project.id}/edit'>Edit Project</a> | <a class="integrity_link" id="delete_project" href='/project/${project.id}/delete'>Delete Project</a> | <a class="integrity_link" id="build_project" href="/project/${project.id}/build">Build Project</a>
        </div>
        <div class="${current_build and (current_build.status == 'SUCCESS' and 'success' or 'failed')}" id='last_build' py:if="project.builds">
            <div py:with="build = current_build">
                <h1><img src="/media/common/images/accept.png" 
                     class="project_status" 
                     title="This project has been built." 
                     id="build_status_${project.id}" align="absMiddle" />Build ${build.commit_number[:7]} ${build.status == "SUCCESS" and "succeeded" or "failed"}</h1>

                <blockquote>
                    <p>${HTML(build.commit_text)}</p>
                    <p class='meta'><span class='who'>by ${build.commit_committer}</span>
                    |
                    <span class='when' title='${build.commit_committer_date}'>on ${build.commit_committer_date.strftime("%d/%m/%Y %H:%M")}</span>
                    <br />
                    <span class='what'># ${build.commit_number}</span></p>
                </blockquote>

                <h2>Build Output:</h2>
                <div id="current-build-tabs">
                    <ul>
                        <li><a href="#buildlog" style="font-size:12px;">Build Log</a></li>
                        <li py:for="tab in build.tabs">
                            <a href="#additional_tab_${tab.id}" style="font-size:12px;">${tab.name}</a>
                        </li>
                    </ul>
                    <div id="buildlog">
                        <pre class='output'>${build.log}</pre>
                    </div>
                    <div id="additional_tab_${tab.id}" py:for="tab in build.tabs">
                        <py:if test="tab.content_type == 'text'">
                            <pre class='output'>${tab.log}</pre>
                        </py:if>
                        <py:if test="tab.content_type == 'html'">
                            <iframe class="html_tab" src="/tabs/${tab.id}"></iframe>
                        </py:if>
                    </div>
                </div>
            </div>
        </div>
        
        <div py:if="not project.builds">
            <br />
            <img class="project_status" src="/media/common/images/error.png" title="This project has never been built." id="build_status_${project.id}" />No builds happened so far.
        </div>
        
        <form action='/project/${project.id}/build' method='post'>
            <p class='submit manual-build'>
                <button title='Fetch the last commit and build it' type='submit'>Build the last commit</button>
                in the repository (or rebuild the latest)
            </p>
        </form>
        
        <h2>Previous builds</h2>
        <ul id='previous_builds' py:if="project.builds">
            <li class="${build.status == 'SUCCESS' and 'success' or 'failed'}" py:for="build in project.builds[0:10]">
                <a class="integrity_link" href="/project/${project.id}/builds/${build.id}">
                    <strong class='build'>Build ${build.commit_number[:7]}</strong>
                    <span class='attribution'>by ${build.commit_committer}, on ${build.commit_committer_date.strftime("%b %d")}</span>
                </a>
            </li>
        </ul>
        <p id='previous_builds' py:if="not project.builds">
            No builds happened so far
        </p>
    </body>
</html>
