pre.log {
  background: #111;
  color: #fff;
  padding: .5em;
  overflow: auto;
  height: 92%;
  width: 98%;
  font-size: .825em; 
}

.project_building {
	display: none;
}

.dashboard_content {
	min-height: 500px;
}

.project {
	border: 1px solid gray;
	float: left;
	margin: 8px;
	width: 31%;
	min-height: 136px;
	background-color: #E4FFDF;
	-moz-border-radius: 3px;
	-moz-opacity: .9;
}

.project a {
	text-decoration: none;
	color: #8F0808;
}

.project_built {
	font-size: 0.7em;
	margin: 8px; 
}

.project_header {
	background-color: #B9CFB5;
	min-height: 35px;
}

.project_actions {
	float: right;
	width: 30%;
	margin: 8px 5px 0 0;
}

.project_actions li {
	float: right;
}

.project h2 {
	margin: 0 !important;
	width: 68%;
	float: left;
}

.project h2 a {
	margin-left: 8px;
}

.last_build_commit_author {
	font-size: 1.4em;
	font-weight: bold;
	margin: 6px 0;
	
}

.last_build_commit_text {
	font-style: italic;
}

.start_build {
	float: right;
	background: url('../images/build.png') no-repeat;
	margin-right: -8px;
	
}

.start_build a {
	display: block;
	margin: 8px 0 0 20px;
	width: 110px;
	height: 38px;
	
}

