body{
    margin: 0px 0px 0px 0px;
}

:link, :visited { 
    color: #307822; 
    text-decoration: none; 
    font-weight: bold; 
}
:link:hover, :visited:hover { 
    text-decoration: underline; 
    font-weight: bold; 
}
:link img, :visited img { 
    border: none; 
}

.breadcrumb{
    color: #307822; 
    text-decoration: none; 
    font-weight: bold;
}

.grey-area {
    background-color: #f3f3f3;
    width:10%;
}

.warning {
    margin-top: 120px;
    padding: 6px 6px 6px 6px;
    border-style: dashed;
    border-color: #307822;
    border-width: 1px;
    background-color: #e0ffda;
}

.section{
    font-size: 28px;
    font-weight: bold;
    color: #307822;
    border-bottom: 1px dotted #ababab;
    width:100%;
}

.sub-section {
    font-size: 22px;
    font-weight: bold;
    color: #307822;
    border-bottom: 1px dotted #ababab;
    width:95%;
    margin-left:12px;
}

.sub-section-content {
    width:95%;
    /*background-color: #e0ffda;*/
    margin-left:12px;
    padding: 6px 6px 6px 6px;
    /*border-left: 1px solid #307822;*/
}

div.toolbar {
    text-align:right;
    margin-left:12px;
    width:95%;
    padding: 6px 6px 6px 6px;
    /*background-color: #e0ffda;*/
}

span.notice{
    font-size:12px;
}

.field-header{
    color: #307822;
    font-weight: bold;
    font-size:22px;
    text-align: right;
    padding-right: 8px;
    vertical-align: top;
}

.field-button {
    color: #307822; 
    font-weight:bold;
    font-size:22px;
    border-style: solid;
    border-color: #307822;
    border-width: 1px;
    background-color: #e0ffda;   
    cursor:hand;
    height: 40px;
}

.text-field {
    font-weight:bold;
    font-size:26px;
    background-color: #e0ffda;
    height: 40px;
    color: #307822;
    padding-left:6px;
    padding-right:6px;
    border-size: 2;
    border-color: #307822;
    border-style: solid;
}

.text-area {
    font-weight:bold;
    font-size:26px;
    background-color: #e0ffda;
    color: #307822;
}

.project-details-data{
    font-size:16px;
    color: #307822;
}

.build-list{
    margin-left:12px;
    padding: 6px 6px 6px 6px;
}

.current-build{
    margin-left:12px;
    padding: 6px 6px 6px 6px;
}

.failure {
    color: #ff0000;
}

.success {
    color: #307822;
}

.build-summary-header{
    font-weight:bold;
    font-size:16px;
    color: #307822;
}

.build-summary-date{
    padding-top: 6px;
    font-weight:bold;
    font-size:16px;
    color: darkorange;
}

.build-summary-status{
    padding-top: 6px;
    font-weight:bold;
    font-size:16px;
    color: #307822;
}

.build-summary-log{
    padding-top: 12px;
    font-weight:bold;
    font-size:20px;
    color: #307822;
}
