<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">
    <py:match path="head" once="true">
        <head py:attrs="select('@*')">
            <title py:with="title = list(select('title/text()'))">
                Skink<py:if test="title"> - ${title}</py:if>
            </title>
            <link rel="stylesheet" href="${url('/media/default/css/style.css')}" type="text/css" media="screen" title="default css" charset="utf-8" />
            <script src="${url('/media/common/script/lib/jquery-min.js')}"></script>
            <script src="${url('/media/common/script/common.js')}"></script>
          ${select('*[local-name()!="title"]')}
        </head>
    </py:match>

    <py:match path="body" once="true">
        <body py:attrs="select('@*')">
            <table border="0" cellspacing="0" cellpadding="0" width="100%" class="full-height">
                <tr>
                    <td class="grey-area">
                        &nbsp;
                    </td>
                    <td style="padding-top: 5px; padding-left:8px; padding-right: 8px; padding-bottom:5px;">
                        <table border="0" cellspacing="0" cellpadding="0" width="100%" class="full-height">
                            <tr style="height:90px">
                                <td align="center">
                                    <table border="0" cellspacing="0" cellpadding="0" width="600" align="center">
                                        <colgroup>
                                            <col />
                                            <col style="width:180px;" />
                                        </colgroup>
                                        <tr>
                                            <td align="center" colspan="2">
                                                <img src="${url('/media/default/images/logo_skink.gif')}" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <span class="breadcrumb">
                                                    <a href="/">projects</a> /
                                                    ${select("//span[contains(@class,'breadcrumb')]/*")}
                                                </span>
                                            </td>
                                            <td align="right">
                                                <a href="/project/new">create project</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" style="padding-top:6px;">
                                    ${select('*|text()')}
                                </td>
                            </tr>
                            <tr style="height:35px;">
                                <td align="center">
                                    <p class="legalese">
                                        Skink CI v0.1.0 - <a href="http://www.skinkci.org" target="_blank">http://www.skinkci.org</a>
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="grey-area">
                        &nbsp;
                    </td>
                </tr>
            </table>
        </body>
    </py:match>

</html>
