<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
    <xi:include href="default.html" />
    <head>
        <title>Home</title>
        <script src="${url('/media/default/script/index.js')}"></script>
    </head>
    <body class="index">
        <table border="0" cellspacing="0" cellpadding="0" width="100%" py:if="projects">
            <tr py:for="project in projects">
                <td align="center">
                    <a href="/project/${project.id}">${project.name}</a>
                </td>
            </tr>
        </table>

        <table border="0" cellspacing="0" cellpadding="0" width="100%" py:if="not projects">
            <tr>
                <td align="center">
                    <div class="warning" style="width:400px; text-align:center;">
                        Looks like you don't have any projects!<br />
                        How about <a href="/project/new">creating one now</a>?
                    </div>
                </td>
            </tr>
        </table>
    </body>
</html>
