<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
    <xi:include href="default.html" />
    <head>
        <title>Home</title>
        <script src="${url('/media/script/project_details.js')}"></script>
    </head>
    <body class="index">
        <span class="breadcrumb" style="display:none;">
            <a href="${url('/project/' + str(project.id))}">${project.name}</a>
        </span>
        <div class="section">${project.name}</div>
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td class="project-details-data" style="width:50%;">
                    <b>status</b>: ${project.get_status()}
                </td>
                <td class="project-details-data">
                    <b>last successful build</b>: ${project.get_last_successful_build()}
                </td>
            </tr>
            <tr>
                <td colspan="2" class="project-details-data">
                    <b>git repository</b>: ${project.scm_repository}
                </td>
            </tr>
            <tr>
                <td colspan="2" class="project-details-data">
                    <b>build script</b>: ${project.build_script}
                </td>
            </tr>
            <tr>
                <td colspan="2" class="project-details-data">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <table border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tr>
                            <td style="border-right: dashed 1px green; width:25%; padding: 6px 6px 6px 6px;" valign="top">
                                <div class="sub-section">
                                    Last 10 builds
                                </div>
                                <py:if test="not project.builds">
                                    <div class="build-list" py-if="not project.builds">
                                        No builds so far.
                                    </div>
                                </py:if>
                                <table border="0" cellspacing="0" cellpadding="0" width="100%" py:if="project.builds">
                                    <tr py:for="build in project.builds">
                                        <td align="left">
                                            <a href="/project/${project.id}/builds/${build.id}" class="${build.status.lower()}"># ${build.number} [${build.date.strftime("%m/%d %H:%M:%S")}]</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="padding: 6px 6px 6px 6px;" valign="top">
                                <div class="sub-section">
                                    Last Build
                                </div>
                                <py:if test="not project.builds">
                                    <div class="current-build" py-if="not project.builds">
                                        No builds so far.
                                    </div>
                                </py:if>
                                <table border="0" cellspacing="0" cellpadding="0" width="100%" py:if="project.builds">
                                    <tr py:with="build = current_build">
                                        <td>
                                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                                                <tr>
                                                    <td class="build-summary-header">
                                                        Build summary for Build # ${build.number}
                                                    </td>
                                                    <td class="build-summary-date" align="right" style="padding-right:25px;">
                                                        Finished at ${build.date.strftime("%m/%d/%Y %H:%M:%S")}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" class="build-summary-status">
                                                        Status: 
                                                            <span class="${build.status.lower()}">
                                                                ${build.status}
                                                            </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" class="build-summary-log">
                                                        Build log:
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" id="build_log_td">
                                                        <?python from genshi import HTML ?>
                                                        <div id="build_log" style="height: 600px; width: 450px; overflow: auto; border: 1px solid #666; padding: 8px;">
                                                            ${HTML(build_log)}
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
        <br />
        <table border="0" cellspacing="0" cellpadding="0" width="350" align="right" style="margin-right:35px;">
            <tr>
                <td align="right">
                    <a id="build_project" href="/project/${project.id}/build">
                        <img src="${url('/media/images/cog_go.png')}" align="absMiddle" />
                        Build
                    </a>
                    |
                    <a id="delete_project" href="/project/${project.id}/delete">
                        <img src="${url('/media/images/delete.png')}" align="absMiddle" />
                        Delete
                    </a>

                </td>
            </tr>
        </table>
        <div align="center">
            
        </div>
    </body>
</html>
