{% extends "base.html" %}

{% block title %}Add Project{% endblock %}

{% block content %}
<form action='create' method='post'>
    <p class='required'>
        <label for='name'>Name</label>
        <input class='text' name="name" id="name" type='text' />
    </p>

    <p class='required'>
        <label for='scm_repository'>Git repository</label>
        <input class='text' name="scm_repository" id="scm_repository" type='text' />
    </p>

    <p class='required'>
        <label for='build_script'>
            Build script
        </label>
        <input class='text' name="build_script" id="build_script" type='text' />
    </p>

    <p class='required'>
        <label for='monitor_changes'>
            <input class='text' name="monitor_changes" checked="true" value="MONITOR" id="monitor_changes" type='checkbox' /> Should monitor for changes?
        </label>
    </p>

    <p class='submit'>
        <button class='positive' type='submit'>Create Project</button>
    </p>
</form>
{% endblock %}

