{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div style="display:none" id="currently_building"></div>
    {% if projects %}
        <ul id="projects">
            {% for project in projects %}
                <li class="{% if loop.index is even %}even{% else %}odd{% endif %} {% if project.build_status == 'UNKNOWN' %}failed{% else %}{{ project.build_status }}{% endif %}">
                    <a class="integrity_link" href="/project/{{ project.id }}">{{ project.name }}</a>
                    <div class="meta">
                        <div class="build_details">
                            Never built
                        </div>
                        <img class="project_status" src="/media/common/images/error.png" title="This project has never been built." id="build_status_${project.id}" />
                    </div>
                </li>
            {% endfor %}
        </ul>
        <p id="new">
            <a class="integrity_link" href="/project/new">Add a new project</a>
        </p>
    {% endif %}


    {% if not projects %}
        <div id="projects">
            Looks like you don't have any projects!<br />
            How about <a class="integrity_link" href="/project/new">creating one now</a>?
        </div>
    {% endif %}
{% endblock %}
